body {
	background: #fff;
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
}
.block_left {
	display: flex;
	justify-content: center;
	margin-top:1vh;
}
.block_container {
	width:25%;
	height:90vh;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	border-radius: 5px 0px 0px 5px;
}

.block_container1 {
	width:30%;
	height:90vh;
	border:1px solid #ccc;
	border-radius: 0px 5px 5px 0px;
}

.mst {
	display:flex;
	width:90%;
	height:75px;
	background: rgb(241, 241, 241);
	margin:auto;
	margin-top:5vh;
	border-radius:10px;
}

.mst img {
	width:50px;
	height:50px;
	margin-top:1.5vh;
	margin-left:2.5%;
}
.mst span {
	margin-top:3vh;
	font-weight: 300;
	font-size: 14px;
	margin-left:3%;
}

.price {
	display: inline-block;
	font-size: 25px;
	color:#007bff;
	margin-left:5%;
	margin-top:5px;
	font-weight: 300;
}
.button {
	margin-top:5px;
	display:flex;
	justify-content: center;

}
.button button {
	width:44%;
	padding:0.4rem 0.5rem;
	background-color: #0d6efd;
	border-color:#0d6efd;
	color:#fff;
	border:none;
	font-size:15px;
	border-radius:0.25rem;
}
.button button:hover {
	background: #0b5ed7;
}
.onebtn {
	margin-left:5px;
}
.twobtn {
	margin-left:2.5px;
}
.info {
	display:flex;
	margin-left:7%;
	margin-top:3rem;
}
.nickname, .id, .idtwo {
	font-weight: 300;
	font-size:15px;
}
.id {
	margin-left:28px;
}

.info_two {
	display:flex;
	margin-left:7%;
	margin-top:0.5rem;
}
.idtwo {
	margin-left:50px;
}
.offer {
	font-weight: 300;
	font-size:.680em;
}
.block_offer {
	width:80%;
	margin:auto;
	margin-top:35px;
}
.cart {
	font-weight: 300;
	font-size: 12px;
	display:flex;
	justify-content: center;
	margin-top:5vh;
}
.input_content {
	display: flex;
	justify-content: center;
}
.inputemail {
	width:80%;
	padding: .375rem .75rem;
	font-weight: 400;
	border-radius: .25rem;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.metod {
	font-weight: 300;
	font-size: 12px;
	display:flex;
	justify-content: center;
	margin-top:1vh;
}
.block123 {
	display:flex;
	justify-content: center;
	margin-top:0.5vh;
	        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}
.block1234 {
	display:flex;
	margin-top:0.5vh;
	margin-left:4.9%;
}
.platejka {
	width:45%;
	height:16vh;
	background: white;
	margin-left:5px;
	border:1px solid #ccc;
}
.platejka1 {
	width:45%;
	height:16vh;
	background: white;
	margin-left:2.5px;
	border:1px solid #ccc;
}
.platejka2 {
	width:47%;
	height:15vh;
	background: white;
	border:1px solid #ccc;
}
.platejka_content img {
	margin-left:25%;
	margin-top:10px;
}
.platejka_content img {
	width:98px;
	height:68px;
}
.block_text {
	font-weight: 300;
	font-size: 10px;
	text-align: center;
}
.block_ukraine {
	width:90%;
	margin:auto;
	margin-top:35px;
}
.ukraine_text {
	font-weight: 300;
	font-size:.680em;
	color:#6c757d!important;
}
/* стилизация содержимого страницы */
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
} 
  
/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
@media (max-width: 768px) {
	.block_left {
		flex-direction: column;
		align-items: center;
	}
	.block_container {
		width:99%;
		height:60vh;
		border-left:1px solid #ccc;
		border-bottom:none;
		border-right:1px solid #ccc;
		border-raduis: none;
	}
		.block_container1 {
		width:99%;
		border-left:1px solid #ccc;
		border-right:1px solid #ccc;
		border-bottom:1px solid #ccc;
		border-top:none;
		border-raduis: none;
	}
	.platejka {
	width:45%;
	height:12vh;
	background: white;
	margin-left:5px;
	border:1px solid #ccc;
}
.platejka1 {
	width:45%;
	height:12vh;
	background: white;
	margin-left:5px;
	border:1px solid #ccc;
}
.platejka2 {
	width:47%;
	height:12vh;
	background: white;
	margin-left:-2px;
	border:1px solid #ccc;
}
}

